name: CI

on:
- push
- workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test with Python ${{ matrix.python }}
    strategy:
      matrix:
        python: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v6
      - name: setup test environment
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: install pip
        run:
          python -m pip install --upgrade pip wheel
      - name: install package
        run:
          python -m pip install .[dev]
      # - name: test
      #   run: 
      #     python -m unittest discover --verbose --start-directory tests/
      - name: mypy
        run:
          mypy
