name: CI

on:
- push
- pull_request
- workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test with Python ${{ matrix.python }}
    strategy:
      matrix:
        python: ['3.10', '3.11', '3.12', '3.13', '3.14', '3.15-dev']
    steps:
      - uses: actions/checkout@v6
      - name: setup test environment
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      - name: update apt
        run:
          sudo apt-get update
      - name: install apt packages
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-noto fonts-roboto tesseract-ocr
      - name: install pip
        run:
          python -m pip install --upgrade pip
      - name: install package
        run:
          python -m pip install .[dev]
      - name: test
        run:
          python -m unittest discover --verbose --start-directory tests/
      - name: lint
        run:
          flake8
      - name: mypy
        run:
          mypy
